@use '../abstracts/variables' as *;

.table {
    width: 100%;
    border-collapse: collapse;
    background: $white;
    border-radius: 6px;
    overflow: hidden;

    &__cell {
        padding: 12px;
        border-bottom: 1px solid $light-200;
        text-align: center;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 8px;

        & i {
            color: $accent;
            background-color: none;
        }
    }
}