@use '../abstracts/variables' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $dark;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

li {
    list-style: none;
}